body{ 
    background-color: #F3F0AB;
}
.arriba {text-align: end;

}
nav {
    background-color:#F2ED84
    
    ;
    font-weight: normal;
    font-size: 20px;
    font-weight: 10px;
    font-style: italic;
    list-style-position: outside;
    color: black;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}


.logo {
    
    background-color: aliceblue;
    width: 50px;
    height: 50px;
    text-align: right;

}
img{
    
    width: 150px;
    height: 150px;
}
main{
    font-size: 40px;
}
p {
    animation-duration: 7s;
    animation-name: aparecer;
  }
  
  @keyframes aparecer {
    from {
      margin-left: 50%;
      width: 500%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
.miestilo{
  background-color: blue;

}
@media ( max-width: 320px){
  body {
    background-color: crimson;

  }
  img {
    width: 50px;
    height: 50px;
  }

  }
}